.map {
  height: 100%;
}
.map-wrapper {
  display: flex;  
  width: 100%;
  height: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
}

.gmnoprint {
  bottom: unset !important;
  top: 100px;
}

.map-marker-centered{
  background-image: url('https://img.icons8.com/color/48/000000/marker--v1.png') no-repeat;
  width: 50px;
  height: 60px;
  position: absolute;
  z-index: 20;
  left: calc(50% - 25px);
  top: calc(50% - 60px);
  transition: all 0.4s ease;
}

.shadow {
  position: relative;
}

.shadow:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  background: #8b8b8b;
  width: 10px;
  height: 5px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 1px #333;
}

.bounce2 {
  animation: bounce2 1.5s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}

.wrapper-info a {
  display: block;
  margin-bottom: 8px;
}


/* .gm-style-iw:nth-child(3),
.gm-style-iw:nth-child(1),
.gm-style-iw:nth-child(4),
.gm-style-iw:nth-child(2) {
  display: none !important;
} */

.gm-style-iw.gm-style-iw-c:nth-child(6) {
  display: none;
}

:root {
  --main-color: #fff;
  --point-color: #555;
  --size: 2px;
}
.loaders {
  position: "relative"; 
  height: 32px; 
  width: 100%;
  border-radius: 32px;
}
.loader {
  border-radius: 32px;
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}

.slideBtn-category {
  background-color: #fff !important;
  min-width: unset !important;
  border-radius: 100% !important;
  color: rgb(60,64,67);
  border: none;
  width: 32px;
  height: 32px;
  padding: 0 5px;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  font-weight: bold;
  border-radius: 32px;
  margin-bottom: 8px !important;
}

.slideBtn-category img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  border-radius: 100%;
}

.slideBtn-category:hover::before {
  top: -30px;
  color: rgb(60,64,67);
  right: 0;
  border: none;
  height: 32px;
  content: attr(data-hover);
  display: flex;
  padding: 3px 5px;
  position: absolute;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  word-break: keep-all;
  align-items: center;
  font-weight: bold;
  border-radius: 32px;
  text-transform: initial;
}