.map {
  height: 100%;
}
.map-wrapper {
  display: flex;  
  width: 100%;
  height: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
}

.gmnoprint {
  bottom: unset !important;
  top: 100px;
}

.map-marker-centered{
  background-image: url('https://img.icons8.com/color/48/000000/marker--v1.png') no-repeat;
  width: 50px;
  height: 60px;
  position: absolute;
  z-index: 20;
  left: calc(50% - 25px);
  top: calc(50% - 60px);
  transition: all 0.4s ease;
}

.shadow {
  position: relative;
}

.shadow:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  background: #8b8b8b;
  width: 10px;
  height: 5px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 1px #333;
}

.bounce2 {
  animation: bounce2 1.5s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}

.wrapper-info a {
  display: block;
  margin-bottom: 8px;
}


/* .gm-style-iw:nth-child(3),
.gm-style-iw:nth-child(1),
.gm-style-iw:nth-child(4),
.gm-style-iw:nth-child(2) {
  display: none !important;
} */

.gm-style-iw.gm-style-iw-c:nth-child(6) {
  display: none;
}